*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENU*/
.logo{
    height: 20px;
    cursor: pointer;
    margin-left: 20px;
}

header{
    position: fixed;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    align-items: center; /* alinha na verticar alinhou no espaco de 50px anterior */
    justify-content: center; /*alinha na horizontal - alinhou o menu no centro da pag*/
    height: 50px;
    z-index: 99;
    width: 100%;
    background-color: white;
}

ul{
    display: flex;
    list-style: none;
    gap: 60px;
    margin-left: 70px;
    color: #626262;
}
li{
    cursor: pointer;
    display: flex;
    height: 50px;
    align-items: center; /* alinha na verticar alinhou no espaco de 50px anterior */
    justify-content: center; /*alinha na horizontal - alinhou o menu no centro da pag*/
}

.search{
    border: none;
    border-radius: 10px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

/*caixa azul*/
.large-container{
    /*height: 100vh; /*100% da altura da tela- ocupou o centro da tela*/
    display: flex;
    justify-content: space-between; /* alinha na horizontal, justificar o conteudo da caixa azul-
                                     alinha items espaco entre texto e foto*/
    padding: 50px;    
    align-items: center; /*alinha na vertical no centro / alinhamento do items*/
}

.iphone-title{
    font-size: 35px;
    font-weight: bold;
    color: #333;
}

h2{
    font-size: 44px;
    margin-top: 10px ;
    margin-bottom: 20px;
}

.paragraph{
    font-size: 15px;
    margin-bottom: 25px;
}

.preco{
    font-size: 20px;
    color: #626262;
    font-weight: 300;
    margin-bottom: 30px;
}

.buy{ 
    background-color: #0071e3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    /*margin-bottom: 30px; /* espaco do ompra para cores */
}

.buy:hover{
    background-color: #014b9a;
}

.change-color{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    
}

.azul{
    background-color: #81a5c4;
}

.amarelo{
    background-color: #f7da47;
}

.branco{
    background-color: #c1c1c1;
}

.preto{
    background-color: #272d33;
}
.vermelho{
    background-color: #b50012;
}

.roxo{
    background-color: #ede7f1;
}

.text-change-color{
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 15px;
   
}
.main-img{
    width: 450px;
    margin-top: 50px;
    z-index: 90;
}

.circle{
    width: 100%;
    height: 120%;
    background:#81a5c4;  
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 1000px);
}