*{
    /* boas praticas, pagina comeca ZERADO*/
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /*pseudoCLASS com : */
}

/*active: change color/style when clicked */
a:active{
    color:red;
}

/*visited: change color/style when clicked*/
a:visited{ 
    color:blue;
}

/*hover: chagen color/style when mouse cross*/
p:hover{
    width: 400px;
    color: darkgreen;
}

/*checked: change/action when clicked, most used on radio/checkbox/selec*/
input:checked{
    width: 100px;
    height: 100px;
    color:orchid;
    border: 4px solid;
}
/* applied when radio/checkbox/select or buttom disabled*/
#radio:disabled{
    width: 45px;
    height: 35px;
}
/* focus: change/action/color when clicked */
.i1:focus{
    border: 3px solid red;
    outline:none;/*o navegador avilita pro padrao uma borda quando um input
    e selecionado, por isso tem q desabilita para aparecer*/
}
/* read-only active when read-only habilited on html*/
.i2:read-only{
    width: 150px;
    height: 40px;
    border: 3px solid orangered;
    outline: none;
}

.container{
    width: 100px;
    height: 100px;
    background: red;
    margin:20px
}
/* empty: change when element empty, for ex, clear div-text on html*/
.container:empty{
    background-color: blue;
}
/* PART2 */
ul{
    margin: 30px;
}
/* frist-child: frist-chil, ex li of ul*/
li:first-child{
    color: hotpink;
}
/* frist-of-type: frist type of element is applied action/style */
h3:first-of-type{
    margin: 30px;
    color:brown;
}

/* last-child: inverter li, above exemple*/

/* last-of-type: inverter frist-of-type, above ex */

/* not: action/style apllied all element on container, execpt(the_selected)*/
.li2:not(.li3){
    color:blue;
}

/* nth-child: select item/child exataly*/
li:nth-child(4){
    color: gold;  
}
/* nth-last-child: conta de tras para frente*/