/*
    POSITION

    position: static(padrao) - Não aceita valores de top, bottom, right, left
    position: fixed - fixa o elemento na tela
    position: relative - posicao relativa a posicao inicial dele
    position absolute - absoluto e fixo, á algum elemento ou pagina


    top
    bottom
    right
    lefft
*/
*{  
    margin:0;
    padding:0;
    box-sizing: border-box;/* para os elementos nao mudar de tamanho com os ajustes de style/border */
    height: 200vh;/* altura de 2 telas*/
    width: 200vw;/* largura de 2 telas*/
}

.dad{
    height:350px;
    width:350px;
    background-color: #ff1396;
    /*position: fixed;/* flutua para frente os outros ficam atras*/
    position: sticky;/* mix de fixed com static*/
    top:30px;/* se move na pag e quando chega a 30px do top fica fixo*/
    opacity: 0.5;
    margin:200px;/* 200 em all lado, elemento foi para o meio da tela*/
}   

.son{
    height:150px;
    width:150px;
    background-color: #ffff00;
}

.box3{
    position: fixed;
    top:30px;
    left    :30px;
    height: 100px;
    width: 100px;
    background-color: darkblue;
    font-size: 30px;
    color: white;
    
}