
*{
    /*box-sizing: content-box; /* assim eh o padrao soma os valores de width padding border*/
    box-sizing: border-box; /* ajusta as coisas sem a caixa crescer*/
}

.box{
    width: 100px;
    height: 100px;
    background: rgb(199, 100, 5) ;
    padding: 100px;
    border: 10px dashed #de45f9;/* 3 conf: 1- tamanaho da borda 2-continua ou tracejada 3-cor*/
}

/* Border box sempre vai acoplas valores nos meus elementos*/