*{
    font-family:'Montserrat' , sans-serif;
    margin: 0; /*Boas praticas, site comecaça ZERADO*/
    padding: 0; /*Boas praticas, site comecaça ZERADO*/
    box-sizing: border-box; /* elementos fixos sem aumentar add stilos/bordas*/
    padding-bottom: 20px;
}

header{
<<<<<<< HEAD:2024/DevClub/css/project_1/wecare_style.css
    margin: 44px 0 80px 76px;/* tecnica do relogio sentido horario*/
=======
    margin: 24px 0 15px 76px;/* tecnica do relogio sentido horario*/
>>>>>>> main:2024/DevClub/css/project_1_wecare_pet/style.css
}

.header-link{
    font-size: 24px;
    font-weight: 600; /* peso da font = largura,grossura*/
    line-height: 29px;
    color: #989d9c;
    cursor: pointer; /* mouse manzinha */
    margin-right: 23px;/* todos tem esse espaço na direita de cada link*/
}

.header-button{
    width: 130px;
    height: 41px;
    background: #665ae1;
    border-radius: 20.5px;
   /* border: none;*/
    border: 2px dotted rgb(255, 2, 242);/* tamanho estilo cor */
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff; 
    cursor: pointer;  
}

.logo-img{
    margin-top: 32px;
    width: 548px;
    height: 480px; 
    margin-left: 100px;
    display: inline-block;/* quero na mesma linha da section, e quero editar espacamento*/

}

section{
    display: inline-block;
    margin-left: 86px;
    
}

h1{
   font-weight: 900;
   font-size: 90px;
   line-height: 80px;
   color: #515151; 
}

h2{
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #515151;
}

p{
    margin-top: 12px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px; /* para crescer para cima e nao para os lados, so ele */
    align-items:center ; /*alinhando item no centro*/
    text-align: justify;/* alinhas texto */
}

.main-button{
    text-align: center;
    align-items: center;
    background: #adff00;
    border-radius: 20.5px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    color: #000000; 
<<<<<<< HEAD:2024/DevClub/css/project_1/wecare_style.css
=======
    display: flex;
    justify-content: center;
    padding-top:15px;
>>>>>>> main:2024/DevClub/css/project_1_wecare_pet/style.css
}

h5{
    color: #000000;
    text-align: right;
}