*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: grid;

   
    grid-template-columns: 100px 100px 100px; /* 3 colum */
    grid-template-rows: 100px 100px 100px; /* 3 row */
    grid-gap: 10px 10px;

   
}

.title{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}


header{
    background: #ff8e03;
    
}

nav{
    background: #44da29;
    
}

main{
    background: #ffe922;
    
}

aside{
    background: #2f33fffe;
    
}
footer{
    background: #f01dadd3;
    
}

div{
    background: #123dea ;
    
}