.box{
    width: 50px;/*largura*/
    height: 50px;/* altura*/
    background: #ff1493;
   /* padding: 100px;/* cresce de dentro pra fora HULK*/
    margin: 30px; /* distanciar elementos, afastar*/
}

.box-2{
    width: 50px;/*largura*/
    height: 50px;/* altura*/
    background: #1cefba;
    padding: 100px;/* cresce de dentro pra fora HULK*/
    margin: 50px; /* distanciar elementos, afastar*/

}