*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Ubuntu',serif;
}

.projectsSection{
    padding: 100px 0px;
    margin-left: 90px;
}

body{
    background: #0a0a0a;
    color: #fff;
}

header{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    
}

ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.mainSection{
    display: flex;
    align-items: center;
    margin-left: 90px;
    min-height: 80vh;

}

.mainSection h1{
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: -3px;
}

.mainSection h1 span{
    color: orangered;
}

.mainSection p{
    font-size: 30px;
    margin-bottom: 40px;
    max-width: 500px;
    color: #bbb;
   
}

.projects-button{
    display: inline-block;
    padding: 15px 30px;
    background-color: #4d7cef;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50px;
}

h2{
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;

}

h2 ::after{
    content: '____####_';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100px;
    height: 4px;
    background-color: #4d7cef;
}

.projectsBox{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
}

.cardProject{
    background-color: #161616;
    border-radius: 10px;
    overflow: hidden;
}

.img-p{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

.info-p{
    padding: 10px;
}

.info-p h3{
    margin-bottom: 10px;
}

.info-p p{
    color: #bbb;
    margin-bottom: 15px;
}

.info-p a{
    color: #4d7cef;
    font-weight: bold;
    cursor: pointer;
}