
/* * para tudo all no site */

/* *{
    background: yellow;
}*/

/* por ID

#titulo{
    color:darkred;
    font-size: 66;
}

#sub-titulo{
    color: chartreuse;
    background-color: brown;
}

p{
    color: hotpink;
}

#bot1{
    background: orangered;
}

#bot2{
    background: yellow;
}
*/

/* POR CLASS comeca com .  */

.texto{
    color: darkblue;
    font-size: 25px;
    font-weight: bold;

}

